@charset "UTF-8";

/* 回答はここに書いてね */
.comment {
  position: relative;
  width: 500px;
  margin: 0 auto;
  border: 5px solid #222;
  padding: 20px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 16px;
  border-radius: 30px;
  z-index: 0;
}

.comment:before {
  border-top: 25px solid #222;
  border-right: 25px solid transparent;
  border-left: 25px solid transparent;
  left: 5%;
  z-index: 1;
}

.comment:after {
  border-top: 16px solid #fff;
  border-right: 16px solid transparent;
  border-left: 16px solid transparent;
  left: 6.9%;
  z-index: 2;
}

.comment:after,.comment:before {
  content: "";
  position: absolute;
  top: 100%;

}
/* 回答はここに書いてね */
