@charset "UTF-8";

/* 回答はここに書いてね */
.offwhite_container {
  padding: 20px;
}

.wrapper_of_3boxes {
  width: 100%;
  display: table;
  margin-bottom: 40px;
}

.wrapper_of_3boxes:last-child {
  margin-bottom: 0;
}

.orange_box {
  width: 100px;
  background-color: #fdc8b8;
}

.pink_box {
  background-color: #e0abd9;
}

.blue_box {
  width: 100px;
  background-color: #b6d8ed;
}

.yellow_box {
  background-color: #e5d32e;
}

.red_box {
  background-color: #ec8f9a;
}

.green_box {
  width: 500px;
  background-color: #8fdcad;
}

.common_style {
  display: table-cell;
  padding: 20px;
  text-align: center;
  vertical-align: middle;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
/* 回答はここに書いてね */
