@charset "UTF-8";

/* 回答はここに書いてね */
.the_table {
  width: 100%;
  border: solid #dedede 1px;
  table-layout: fixed;
}

th,td {
  border: solid #dedede 1px;
  padding: 10px;
  text-align: center;
  vertical-align: center;
}

th {
  background-color: #2244aa;
  color: #ffffff;
}

tr:last-child {
  border-top: dashed #000 2px;
}

tr:nth-child(3),
tr:nth-child(5) {
  background-color: #ecf1f2;
}
/* 回答はここに書いてね */
